<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjbilHm4k80mbCBheqf43t3w38C3O8aExQ8JMVqvkbQZrRoLnNkiGyU-P9WreiwjO-psQ&usqp=CAU"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Последнее обновление 3 минуты назад</small><br>
        <div class="d-flex justify-content-lg-around">
          <span class="badge text-bg-secondary">Telegram</span>
          <span class="badge text-bg-success">WhatsApp</span>
          <span class="badge text" style="background-color: #711DB0">Instagram</span>
          <span class="badge text-bg-primary">Facebook</span>
        </div>
      </div>
      <div class="mt-1 text-center">
        <button class="btn btn-success profile-button" type="button">Подробнее</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://img-9gag-fun.9cache.com/photo/a3Q5VW5_460s.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Последнее обновление 2 минуты назад</small><br>
        <div class="d-flex justify-content-lg-around">
          <span class="badge text-bg-secondary">Telegram</span>
          <span class="badge text-bg-success">WhatsApp</span>
          <span class="badge text" style="background-color: #711DB0">Instagram</span>
          <span class="badge text-bg-primary">Facebook</span>
        </div>
      </div>
      <div class="mt-1 text-center">
        <button class="btn btn-success profile-button" type="button">Подробнее</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://yt3.googleusercontent.com/rCT6CmTHFDNRPHYF8IRLT2EmYMCVnuIk1kgjETkoNQ0csz4St78gSpxGRZYoYtWkhv_-ZKJK=s900-c-k-c0x00ffffff-no-rj"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Последнее обновление 1 минуты назад</small>
        <div class="d-flex justify-content-lg-around">
          <span class="badge text-bg-secondary">Telegram</span>
          <span class="badge text-bg-success">WhatsApp</span>
          <span class="badge text" style="background-color: #711DB0">Instagram</span>
          <span class="badge text-bg-primary">Facebook</span>
        </div>
      </div>
      <div class="mt-1 text-center">
        <button class="btn btn-success profile-button" type="button">Подробнее</button>
      </div>
    </div>
  </div>

</div>
